{% extends 'layout.html' %}
{% block title %}{{ _('Change password') }}{% endblock %}
{% block pagetitle %}{{ _('Password') }} {{ user.first_name }} {{ user.last_name }} (#{{ user.id }}){% endblock %}
{% block body %}
<form method="post" action="{{ url_for('users.changepw', user_id = user.id) }}">
{% from "_formhelpers.html" import render_field %}
{{ render_field(form.current_password) }}
{{ render_field(form.password) }}
{{ render_field(form.confirm) }}
        <button class="btn btn-primary" type="submit">{{ _('Change password') }}</button>
{{ form.hidden_tag() }}
</form>
{% endblock %}
